@font-face {
	font-family: 'icons';
	font-display: swap;
	src:
		url('../fonts/icons.woff') format('woff'), url('fonts/icons.woff2#icons') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}


%ic {
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


[class^="icon-"], [class*=" icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

.icon-accept:before {
	content: "\e900";
	position: absolute;
	color: $accentColor;
	font-size: 30px;
	left: 8px;
	bottom: 7px;
}
.icon-right:before {
	content: "\e901";
	position: absolute;
	font-size: 20px;
	right: -6px;
	top: 39%;
}
