@import "fonts.scss";
@import "icons.scss";

// ------Vars------ 
$fontFamily: "Outfit";
$fontSize: 16px;
$mainTextColor: #fff;
$textColor: #5BD2BF;
$accentColor: #4C99BB;

$bg: #02061A;
$bgContent: #24293F;
$gradient: linear-gradient(to right bottom, #1F143B, #3C8273);

$maxWidth: 1440px;
$maxWidthContainer: 1100px;
//------Vars-End------ 

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	// font-family: -;
	font-family: $fontFamily, sans-serif;
	font-size: $fontSize;
	font-weight: 400;
	line-height: 1.5;
	color: $mainTextColor;
	background-color: $bg;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	object-fit: cover;
}

button {
	padding: 0;
	background-color: transparent;
	border: none;
}

.container {
	max-width: $maxWidthContainer;
	padding: 0 15px;
	margin: 0 auto;
}

// Общие блоки
.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	text-align: center;
	transition: all 0.3s ease;
	min-height: 48px;
	cursor: pointer;

	
	color: #fff;
	background-color: $bgContent;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
}

.title {
	font-size: 60px;
	font-weight: 700;
}

// Общие блоки --- end---


// First screen
.fs {
	padding: 90px 0;
	&__content {
		margin-top: 130px;

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto 95px;
		grid-gap: 30px 24px;
		align-items: end;
	}
	&__title {
		grid-column: span 2;
	}
	&__button {
		grid-row: 2;
	}
	&__img {
		grid-column: 3 / -1;
		margin-bottom: -160px;
	}

	&__button {
		height: 100%;
		border-radius: 50vw;
		&--outline {
			background: transparent;
			border: 3px solid $bgContent;
		}
	}
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	font-size: 27px;
	font-weight: 700;
}
.menu {
	display: flex;
	align-items: center;
	gap: 70px;
	&__item {
		font-size: 20px;
	}
}





